!!!
%html
  %head
    %title TwentyTweets
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = render partial: 'layouts/nav_buttons'
          %a.navbar-brand{href: current_user ? overview_path : root_path} TwentyTweets
    -#%p.notice= notice
    -#%p.alert= alert
    = yield
